* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

form {
    height: 100%;
}

h1 {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}

p, .whats {
    font-size: 22.5px;
}

input, select {
    border: 1px solid black;
    display: block;
}

div.radio input, div.checkbox input{
    display: inline;
}

#textarea {
    border: 1px solid black;
}

div textarea {
   overflow-y: scroll ;
}

div #submit {
    display: inline;
}

div:nth-child(1)